/* stylelint-disable selector-class-pattern */

.titleRow {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.titleMain {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.hhTitle {
    margin: 40px 0 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    justify-items: baseline;
    gap: 20px;
}

.advantages, .advList {
    margin: 20px 0;
}


.advItem {
    display: grid;
    grid-template-columns: 50px auto;
    gap: 10px 40px;
    margin-bottom: 30px;
}

.tags {
    margin-top: 20px;
}

.vline {
    width: 1px;
    background-color: #D2D2D2;
    margin-left: 25px;
    margin-top: 10px;
}

.hiddenBtn {
    display: none;
}

.showBtn {
    display: block;
}

.fixedBtn {
    position: fixed;
    bottom: 10px;
    right: 20px;
}

@media screen and (width <= 900px) {
    .titleRow {
        flex-direction: column;
        margin-bottom: 10px;
    }
}