/* stylelint-disable selector-class-pattern */

.firstLevel {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
}

.firstLevelActive, 
.firstLevel:hover {
    color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg{
    fill: var(--primary);
}

.secondBlock {
    margin-left: 12px;
    padding-left: 32px;
    border-left: 1px solid var(--line);
}

.secondLevel {
    margin-top: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--gray-dark);
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
}

.secondLevelBlock {
    display: none;
}

.secondLevelBlockOpen {
    display: block;
}

.secondLevelBlockOpen:last-child {
    margin-bottom: 20px;
}

.thirdLevel {
    margin-bottom: 10px;
    cursor: pointer;
    color: var(--gray-dark);
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    display: block;
}

.thirdLevelActive,
.thirdLevel:hover {
    color: var(--primary);
}