:root {
  --black: #3B434E;
  --gray-dark: #787D85;
  --gray-light: #EBEBEB;
  --white: #FFF;
  --primary: #7653FC;
  --primary-hover: #5b31ff;
  --red: #FC836D;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --line: #DFDFDF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--black);
  background-color: #F5F6F8;
}

a {
  text-decoration: none;
  color: inherit;
}


